<header>
  <style media="screen">
    .userLogin {
      color: #eeeeee
    }
  </style>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #393e46;">
    <a class="navbar-brand" href="/urls" style="color: #eeeeee">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls" style="color: #eeeeee">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new" style="color: #eeeeee">Create New URL</a>
      </div>
    </div>
    <% if(user) { %>
    <h4 class="userLogin" style="padding-right: 25px">Logged in as: <%= user.email %></h4>
    <form class="form-inline" action="/logout" method="POST">
      <div class="form-group mb-2">
        <button type="submit" class="btn btn-danger">Log Out</button>
      </div>
    </form>
    <% } else { %>
      <a href="/login"><button type="button" class="btn btn-primary" style="margin-right: 20px">Log In</button></a>
      <a href="/register"><button type="button" class="btn btn-info">Register</button></a>
    <% } %>
  </nav>
</header>
